
      #wrap{
            width:1000px; margin: 0 auto; border: 1px solid black;
        }
        #wrap #header h1{
            background-color: azure; text-align: center; height: 200px;
        }
        #wrap #section {
            background-color: green; color: white; height: 300px;
        }
        #wrap #footer{
            background-color: #ffd800; height: 100px; text-align: center;
        }
