#review{
    width: 800px;
    height: 54px;
    margin-top: 100px;
    display: inline-flex;
    line-height: 54px;
}
#review .review_arrow{
    width: 500px;
    margin: 5px;
    font-size: 2em;
    display: flex;
    justify-content: right;
    line-height: 35px;            
}
.review_arrow span{
    margin-left: 2%;
    margin-right: 2%;
}

#review_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#review_grid #student_review{
    height: 300px;
    margin: 3% 5% 0 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 0 grey;
    z-index: 30;
}
#review_grid #student_review2{
    height: 300px;
    margin: 3% 5% 0 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 0 grey;
    z-index: 30;
}
#review_grid #student_review{
    height: 300px;
    margin: 3% 5% 0 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 0 grey;
    z-index: 30;
}
#student_review .talk_icon{
    width: 20px !important;
    height: 20px !important;
}

#review_grid #talk_box1{
    height: 40px;
    width: 100px;
    box-shadow: 0 0 1px 0 grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: -50px 5% 0 5%;
    transform: rotate(-45deg);
    z-index: 5;
}
#review_grid #talk_user1{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 5%;
    font-size: 1.2em;
}
