#section2 {
  background-color: rgb(255, 255, 255);
}
#section2 .QNA {
  text-align: center;
  font-size: 30px;
  margin: 3%;
}
#section2 .wrap {
  height: 300px;
  background-color: rgb(59 130 246/0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#section2 .section2Title {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section2 div {
  font-size: 40px;
  font-weight: 500;
}
#section2 div span {
  color: rgb(59 130 246);
}

#section2 .bt {
  border: 1px solid rgb(59 130 246);
  border-radius: 10px;
  background-color: rgb(59 130 246);
  width: 270px;
  height: 50px;
  text-align: center;
  line-height: 38px;
}
#section2 .bt a {
  color: #e5e7eb;
  font-size: 25px;
  padding: 4% 9%;
}
#section2 .bt:hover {
  background-color: rgb(59 130 246/0.5);
}

label {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 35px 0;
}

li {
  padding: 1%;
}

.menu1 {
  width: 800px;
  border-top: 1px solid black;
}
#menu1 {
  display: none;
}
#menu_div1 {
  display: none;
}
#menu_div1 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu1:checked + div#menu_div1 {
  display: block;
}

.menu2 {
  width: 800px;
  border-top: 1px solid black;
}
#menu2 {
  display: none;
}
#menu_div2 {
  display: none;
}
#menu_div2 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu2:checked + div#menu_div2 {
  display: block;
}

.menu3 {
  width: 800px;
  border-top: 1px solid black;
}
#menu3 {
  display: none;
}
#menu_div3 {
  display: none;
}
#menu_div3 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu3:checked + div#menu_div3 {
  display: block;
}

.menu4 {
  width: 800px;
  border-top: 1px solid black;
}
#menu4 {
  display: none;
}
#menu_div4 {
  display: none;
}
#menu_div4 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu4:checked + div#menu_div4 {
  display: block;
}

.menu5 {
  width: 800px;
  border-top: 1px solid black;
}
#menu5 {
  display: none;
}
#menu_div5 {
  display: none;
}
#menu_div5 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu5:checked + div#menu_div5 {
  display: block;
}

.menu6 {
  width: 800px;
  border-top: 1px solid black;
}
#menu6 {
  display: none;
}
#menu_div6 {
  display: none;
}
#menu_div6 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu6:checked + div#menu_div6 {
  display: block;
}

.menu7 {
  width: 800px;
  border-top: 1px solid black;
}
#menu7 {
  display: none;
}
#menu_div7 {
  display: none;
}
#menu_div7 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu7:checked + div#menu_div7 {
  display: block;
}

.menu8 {
  width: 800px;
  border-top: 1px solid black;
}
#menu8 {
  display: none;
}
#menu_div8 {
  display: none;
}
#menu_div8 ul li {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}
input#menu8:checked + div#menu_div8 {
  display: block;
}
